
:root {
  --bs-primary: rgb(104, 136, 163);
  --bs-secondary: #957980;
  --bs-light: #f8f5ff;
  --bs-dark: #051424;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg:  rgb(72, 102, 127);
  --bs-btn-hover-border-color: rgb(72, 102, 127);
}

#Top {
  background-color: var(--bs-secondary);
  padding: 50px;
  text-align: center;
}

img {
  max-width: 100px;
}

