
:root {
  --bs-primary: rgb(104, 136, 163);
  --bs-secondary: #957980;
  --bs-light: #f8f5ff;
  --bs-dark: #051424;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg:  rgb(72, 102, 127);
  --bs-btn-hover-border-color: rgb(72, 102, 127);
}

.Top {
  background-color: #957980;
  padding: 50px;
  text-align: center;
  clip-path: polygon(
    0% 0%, 0% 85%, 10% 90%, 20% 80%, 30% 90%, 40% 80%, 
    50% 90%, 60% 80%, 70% 90%, 80% 80%, 90% 90%, 100% 85%, 100% 0%
  );
}

img {
  max-width: 5px;
}

