
:root {
  --bs-primary: hotpink;
  --bs-secondary: #957980;
  --bs-light: #f8f5ff;
  --bs-dark: #051424;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #ff69b4; /* slightly darker for hover */
  --bs-btn-hover-border-color: #ff69b4;
}